@{
    ViewBag.Title = "MoneyNow - Currency Converter";
}
@section featured {}

@section styles
{
    <link rel="stylesheet" href="~/Content/select2.css" />

    <style type="text/css">
        #result {
            font-size: xx-large;
            text-align: center;
        }

        #social {
            height: 20px;
        }

            #social ul li {
                padding-right: 10px;
                width: 30%;
            }
    </style>
}

@section scripts
{
    <div id="fb-root"></div>

    <script type="text/javascript" src="~/Scripts/select2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-resource.js"></script>
    <script type="text/javascript" src="~/App/Services/moneynow.services.js"></script>
    <script type="text/javascript" src="~/App/Controllers/moneynow.controllers.js"></script>

    <script type="text/javascript">
        //#region Social
        //Google's +1
        (function () {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        //Facebook Like
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=226641894132932";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        //Twitter share
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs"));
        //#endregion
    </script>
}

<div class="container-narrow">

    <div ng-view></div>

</div>

