@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}

<div class="container-narrow">

    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="muted">MoneyNow</h3>
    </div>

    <div class="appWrapper" ng-controller="MoneyNowController">
        <form class="form-moneynow" ng-submit="convert()">
            <h2 class="form-moneynow-heading">MONEYNOW CONVERTER</h2>

            <div class="well">

                <div class="control-group">
                    <label for="txtAmount">Amount</label>
                    <input id="txtAmount" ng-model="amount" type="text" class="input-block-level"
                        placeholder="Amount to be converted" />
                </div>
                <div class="control-group">
                    <label for="ddlFrom">From</label>
                    <select ng-model="from" class="input-block-level" id="ddlFrom" title="Origin Currency">
                        <option ng-repeat="currency in currencies" value="{{currency.ISOCurrencySymbol}}"
                            data-flagurl="{{currency.FlagUrl}}">{{currency.CurrencyEnglishName}}
                            ({{currency.ISOCurrencySymbol}})
                        </option>
                    </select>
                </div>
                <div class="control-group">
                    <label for="ddlTo">To</label>
                    <select ng-model="to" class="input-block-level" id="ddlTo" title="Result Currency">
                        <option ng-repeat="currency in currencies" value="{{currency.ISOCurrencySymbol}}"
                            data-flagurl="{{currency.FlagUrl}}">{{currency.CurrencyEnglishName}}
                            ({{currency.ISOCurrencySymbol}})
                        </option>
                    </select>
                </div>

            </div>
            <button class="btn btn-large btn-block btn-primary" type="submit">Get Conversion</button>
            <br>

            <div>
                <div id="result" style="display: none" class="alert alert-success alert-block"></div>
            </div>

        </form>

    </div>

</div>

