@{
    ViewBag.Title = "MoneyNow - Currency Converter";
}
@section featured {}

@section scripts
{
    <link rel="stylesheet" href="~/Content/select2.css"/>
    @Scripts.Render("~/Scripts/jquery.xdomainajax.js")
    @Scripts.Render("~/Scripts/Controllers/moneynow.controllers.js")
    @Scripts.Render("~/Scripts/select2.min.js")

    <script type="text/javascript">

        var format = function (state) {
            if (state.id && state.element) {
                var url = $(state.element).data("flagurl");
                return "<img width='25' src='" + url + "'> " + state.text;
            }
        };

        $(document).ready(function () {

            $("#ddlFrom").select2({
                placeholder: "Select origin currency",
                formatResult: format,
                formatSelection: format
            });

            $("#ddlTo").select2({
                placeholder: "Select destination currency",
                formatResult: format,
                formatSelection: format
            });
        });
</script>
}

<div class="container-narrow" style="max-width: 400px; margin: auto">

    <div class="appWrapper" ng-controller="MoneyNowController">
        <form class="form-moneynow" ng-submit="convert()">
            <h2 class="form-moneynow-heading">MONEYNOW CONVERTER</h2>

            <div class="well">

                <div class="control-group">
                    <label for="txtAmount">Amount</label>
                    <input id="txtAmount" ng-model="amount" type="text" class="input-block-level"
                        placeholder="Amount to be converted" />
                </div>
                <div class="control-group">
                    <label for="ddlFrom">From</label>
                    <select ng-model="from" class="input-block-level" id="ddlFrom" title="Origin Currency">
                        <option ng-repeat="currency in currencies" value="{{currency.isoCurrencySymbol}}" data-flagurl="{{currency.flagUrl}}">{{currency.currencyEnglishName}}
                            ({{currency.isoCurrencySymbol}})
                        </option>
                    </select>
                </div>
                <div class="control-group">
                    <label for="ddlTo">To</label>
                    <select ng-model="to" class="input-block-level" id="ddlTo" title="Result Currency">
                        <option ng-repeat="currency in currencies" value="{{currency.isoCurrencySymbol}}" data-flagurl="{{currency.flagUrl}}">{{currency.currencyEnglishName}}
                            ({{currency.isoCurrencySymbol}})
                        </option>
                    </select>
                </div>

            </div>
            <button class="btn btn-large btn-block btn-primary" type="submit">Get Conversion</button>
            <br>

            <div>
                <div id="result" style="display: none" class="alert alert-success alert-block"></div>
            </div>

        </form>
    </div>

</div>

