<!DOCTYPE html>
<html lang="en" ng-app="moneyNow2" ng-csp>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Online Currency Converter - Get realtime currency exchange rates! Powered by Google's Finance API.">
    <meta name="author" content="https://github.com/alanrsoares">

    <title>MoneyNow - Currency Converter</title>

    <!-- le css -->
    <link rel="stylesheet" href="libs/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="libs/bootstrap/bootstrap-responsive.min.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="libs/select2/select2.css">

    <style type="text/css">
        .container {
            min-width: 400px;
        }

        #result {
            font-size: xx-large;
            text-align: center;
        }
    </style>


</head>

<body>
<div class="container">
    <div ng-controller="MoneyNowController">
        <form>
            <h2>MONEYNOW CONVERTER</h2>

            <div class="well">

                <div class="control-group">
                    <label for="txtAmount">Amount</label>
                    <input id="txtAmount" ng-model="amount" type="number" min="1" class="input-block-level"
                           placeholder="Amount to be converted" />
                </div>

                <div class="control-group">
                    <label for="ddlFrom">From</label>
                    <input id="ddlFrom" ui-select2="currencies" ng-model="from" data-placeholder="Select origin currency" class="input-block-level" />
                </div>

                <div class="control-group">
                    <label for="ddlTo">To</label>
                    <input id="ddlTo" ui-select2="currencies" ng-model="to" data-placeholder="Select destination currency" class="input-block-level" />
                </div>

                <div class="control-group">
                    <button class="btn btn-info btn-small btn-block" ng-click="switch()">
                        <strong>SWITCH SELECTION</strong>
                    </button>
                </div>

            </div>

            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle">And your result is...
                        </a>
                    </div>
                    <div id="result" class="alert-info alert-block collapse in" ng-show="showResult">
                        {{result}}
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>

<!-- le javascript -->
<!-- global-->
<script type="text/javascript" src="libs/jquery/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="libs/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="libs/angular/angular.min.js"></script>
<script type="text/javascript" src="libs/angular/angular-resource.min.js"></script>
<script type="text/javascript" src="libs/angular-ui/angular-ui.min.js"></script>
<script type="text/javascript" src="libs/select2/select2.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/services.js"></script>
<script type="text/javascript" src="app/controllers.js"></script>

</body>
</html>